# Ignore storage content but keep directory structure
storage/rawdata/*
storage/bindata/*
storage/outputdata/*

# Keep the directories themselves
!storage/rawdata/.gitkeep
!storage/bindata/.gitkeep
!storage/outputdata/.gitkeep
